html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#container{
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 5px;
}
#sidebar {
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#sidebar,#sidebar2, #datainfo, #datainfo .panel {
  height: 100%;
}
.sidebar-table {
  position: relative;
  width: 100%;
  top: 10px;
  padding-bottom: 15px;
  overflow: auto;
}
#map {
  height:97%;
  overflow: hidden;
  margin-top:10px;
}
.barchart{
  height:100%;
  width: 99%;
}
.piechart{
  width:99%;
}
#cardclick{
text-align: center;
font-style: italic;
color: #b0b0b0;
}
#card{
  background-color: #1D3C61;
  border-color: #1D3C61;
  color: #ffffff;
  display:none; 
  margin-left: 15px;
  margin-right: 15px;
  padding-left: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}
#cardbikepanel{
  border-color: #e34a33;
  background-color:#fef0d9;
  display:none; 
}
#cardbike{
  background-color:#fc8d59;
  border-color: #fc8d59;
  font-size: 12px;
}
#cardpedpanel{
  border-color: #756bb1;
  background-color:#f2f0f7;
  display:none; 
}
#cardped{
  background-color: #756bb1;
  border-color: #756bb1;
  font-size: 12px;
}
.map-legend {
    padding: 0px 0px;
    line-height: 1;
    border: 1px solid #fff;
    outline: none;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 345px;
    padding-right: 1px;
}
.map-legend p {
    margin: 5px 10px 0 5px;
}
#legend-content {
    margin:0 -5px;
}
#legend-definition {
    float: right;
    color: #848181;
    cursor:pointer; 
}
#legend-icon {
    line-height: 27px;
    padding-left: 5px;
    cursor: pointer;
    color: #6689BC;
    font-weight: 600;
}
#legend-icon:hover {
    color: #3071a9;
}
.legend-top {
    border-bottom: 1px solid #C3C2C2;
    margin-top: -27px;
    padding-bottom: 7px;
    padding-left: 20px;
}
.legend-body { 
    padding-top: 7px;
    font-size:.9em
}
.legend-bottom {
    height: 5px;
}
.ct-existing {
    color:#8dc63f;
    font-size: 25px;
    vertical-align: middle;
}
.ct-inprogress{
  color:#fdae61;
  font-size: 25px;
  vertical-align: middle;
}
.ct-planned{
  color:#008192;
  font-size: 25px;
  vertical-align: middle;
}

#datadisclaimer{
  font-size: 12px;
  text-align: center;
  margin-top: 5px;
  color:#b0b0b0;
  padding-bottom: 10px;
}
.navbar-fixed-top {
    height: 20px; /* Whatever you want. */
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}

.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
  font-size: 12px;
}
.table-toprow{
  border-bottom: 3px solid #1D3C61;
  
}
.table-th{
  background-color: #1D3C61;
  color :#FFFFFF;
  vertical-align: middle;
  text-align: center;
  border-left: 2px solid #FFFFFF;
  border-right: 2px solid #FFFFFF;
}
.table-thb{
  background-color: #1D3C61;
  color :#FFFFFF;
  vertical-align: middle;
  text-align: center;
  border-right: 2px solid #FFFFFF;
}
.table-thp{
  background-color: #1D3C61;
  color :#FFFFFF;
  vertical-align: middle;
  text-align: center;
  border-left: 2px solid #FFFFFF;
}
.table-th1{
  background-color: #1D3C61;
  color :#FFFFFF;
  vertical-align: middle;
}
.table-ped{
 border-left: 2px solid #666666;
 border-right: 1px solid #D3D3D3;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.navbar-inverse{
  border: none;
  background-color: #0074AD;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
.labelfield2{
  font-size:16px;
  color: #0D133A;
  margin-bottom: 4px;
}
.leaflet-control-view-center { 
  background-image: url('img/region.png');
    width: 26px;
    height: 26px;
    -webkit-transition: width .175s ease-in;
  -moz-transition: width .175s ease-in;
  -ms-transition: width .175s ease-in;
  -o-transition: width .175s ease-in;
  transition: width .175s ease-in;
  }
/*
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
} */
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */
.badge .partner-val {
    background: transparent none repeat scroll 0px 0px;
    color: #312867;
    font-weight: 800;
    padding: 3px 0px;
}
