html, body{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body {
  padding-top: 50px;
}
input[type="radio"], input[type="checkbox"] {
  margin: 0;
}
#container{
  height: 100%;
  width: 100%;
  overflow: auto;
  margin-top: 5px;
}
#sidebar {
  -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
#sidebar,#sidebar2, #datainfo, #datainfo .panel {
  height: 100%;
}
.top-row {
    height: 60%;
    overflow-y: hidden;
}
.bottom-row {
    height: 40%;
    overflow-y: auto;
}
#map {
  height:100%;
  overflow: hidden;
}
#sidebar2{
    overflow: auto;
}
.barchart{
  height:100%;
  width: 99%;
}
.piechart{
  width:99%;
}
#card{
  background-color: #888888;
}
#cardbikepanel{
  border-color: #e34a33;
  background-color:#fef0d9;
}
#cardbike{
  background-color:#fc8d59;
  border-color: #fc8d59;
  font-size: 12px;
}
.top-rowb {
    height: 50%;
margin-right: 2px;
}
.bottom-rowb {
    height: 50%;
    margin-right: 2px;
}
#cardpedpanel{
  border-color: #756bb1;
  background-color:#f2f0f7;
}
#cardped{
  background-color: #756bb1;
  border-color: #756bb1;
  font-size: 12px;
}
.navbar-fixed-top {
    height: 20px; /* Whatever you want. */
}
#loading {
  position: absolute;
  width: 220px;
  height: 19px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -110px;
  z-index: 20001;
}
#features {
  margin: 0px;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: none;
    box-shadow: none;
}
#sidebar-hide-btn {
  margin-top: -2px;
}
#aboutTabsContent {
  padding-top: 10px;
}
.progress-bar-full {
  width: 100%;
}
.white {
  color: #FFFFFF;
}
.feature-row {
  cursor: pointer;
}
.sidebar-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
.sidebar-table {
 /* position: absolute; */
  width: 100%;
  top: 50px;
  bottom: 0px;
  overflow: auto;
}
.leaflet-control-layers {
  overflow: auto;
}
.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}
.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}
.table {
  margin-bottom: 0px;
  font-size: 12px;
}
.navbar .navbar-brand {
  font-weight: bold;
  font-size: 25px;
  color: #FFFFFF;
}
.navbar-collapse.in {
  overflow-y: hidden;
}
.navbar-header .navbar-icon-container {
  margin-right: 15px;
}
.navbar-header .navbar-icon {
  line-height: 50px;
  height: 50px;
}
.navbar-header a.navbar-icon {
  margin-left: 25px;
}
.navbar-inverse{
  border: none;
  background-color: #0074AD;
}
.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.typeahead {
  background-color: #FFFFFF;
}
.tt-dropdown-menu {
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  padding: 4px 0;
  width: 100%;
  max-height: 300px;
  overflow: auto;
}
.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}
.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}
.tt-suggestion p {
  margin: 0;
}
.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}
.typeahead-header {
  margin: 0 5px 5px 5px;
  padding: 3px 0;
  border-bottom: 2px solid #333;
}
.has-feedback .form-control-feedback {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
}
@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}
@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .url-break {
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
      hyphens: auto;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
}
/* Print Handling */
@media print {
  .navbar {
    display: none !important;
  }
  .leaflet-control-container {
    display: none !important;
  }
}
.labelfield2{
  font-size:16px;
  color: #0D133A;
  margin-bottom: 4px;
}
.leaflet-control-view-center { 
  background-image: url('img/region.png');
    width: 26px;
    height: 26px;
    -webkit-transition: width .175s ease-in;
  -moz-transition: width .175s ease-in;
  -ms-transition: width .175s ease-in;
  -o-transition: width .175s ease-in;
  transition: width .175s ease-in;
  }
/*
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
} */
/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane,
.pill-content > .pill-pane {
    display: block;     /* undo display:none          */
    height: 0;          /* height:0 is also invisible */ 
    overflow-y: hidden; /* no-overflow                */
}
.tab-content > .active,
.pill-content > .active {
    height: auto;       /* let the content decide it  */
} /* bootstrap hack end */
.badge .partner-val {
    background: transparent none repeat scroll 0px 0px;
    color: #312867;
    font-weight: 800;
    padding: 3px 0px;
}
